/* ui-lib/.storybook/preview.css */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #222;
  }
  button {
    background-color: limegreen;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }
  